.box {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 400px;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background: linear-gradient(141deg, #535f59, 0%, #35949f, 51%, #2782a4 75%);
}

.heading {
    font-size: 50px;
}

.text {
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    justify-content: center;
}

.text-container {
    width: 400px;
    position: relative;
    left: 10%;
}
.container {
    text-align: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#input {
    height: 35px;
    width: 260px;
    border: 2px solid white;
    border-radius: 25px;
    position: relative;
    top: 10px;
    text-align: left;
}

.send-btn {
    position: relative;
    top: 10px;
    right: 40px;
    color: #2782a4;

}